In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sn

In [2]:
import warnings 
warnings.filterwarnings('ignore')

In [3]:
dataset = pd.read_csv('./Titanic/Melbourne_housing.csv')

In [4]:
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Week,CPI,LastCPI,Distance2
0,Footscray,202/51 Gordon St,1,u,85000,PI,Burnham,03-09-2016,6.4,32,108.6,108.2,8.1
1,Caulfield,30 Pyne St,4,h,131000,PI,Rodney,25-02-2017,8.9,57,109.4,108.6,12.8
2,Coburg,171 Moreland Rd,4,h,145000,PI,Jellis,04-06-2016,7.8,19,108.2,108.4,6.8
3,Albion,8/6 Ridley St,1,u,145000,PI,Biggin,28-05-2016,13.9,18,108.2,108.4,14.4
4,Albion,10/117 Anderson Rd,1,u,185000,S,hockingstuart,22-08-2016,13.9,30,108.6,108.2,14.1

In [5]:
dataset.shape

(9383, 13)

In [6]:
dataset.nunique()

Suburb        143
Address      8907
Rooms          11
Type            4
Price        1838
Method          6
SellerG       195
Date           35
Distance       94
Week           35
CPI             5
LastCPI         5
Distance2     276
dtype: int64

In [7]:
dataset.drop('Date', axis=1, inplace=True)

In [8]:
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Distance,Week,CPI,LastCPI,Distance2
0,Footscray,202/51 Gordon St,1,u,85000,PI,Burnham,6.4,32,108.6,108.2,8.1
1,Caulfield,30 Pyne St,4,h,131000,PI,Rodney,8.9,57,109.4,108.6,12.8
2,Coburg,171 Moreland Rd,4,h,145000,PI,Jellis,7.8,19,108.2,108.4,6.8
3,Albion,8/6 Ridley St,1,u,145000,PI,Biggin,13.9,18,108.2,108.4,14.4
4,Albion,10/117 Anderson Rd,1,u,185000,S,hockingstuart,13.9,30,108.6,108.2,14.1

In [9]:
cols_to_use = [
    'Suburb', 'Rooms', 'Type', 'Method', 
    'SellerG', 'Distance', 'Price'
]
dataset = dataset[cols_to_use]
dataset.head()

      Suburb Rooms Type Method        SellerG Distance   Price
0  Footscray     1    u     PI        Burnham      6.4   85000
1  Caulfield     4    h     PI         Rodney      8.9  131000
2     Coburg     4    h     PI         Jellis      7.8  145000
3     Albion     1    u     PI         Biggin     13.9  145000
4     Albion     1    u      S  hockingstuart     13.9  185000

In [10]:
dataset.shape

(9383, 7)

In [11]:
dataset.isna().sum()

Suburb      0
Rooms       0
Type        0
Method      0
SellerG     0
Distance    0
Price       0
dtype: int64

In [12]:
dataset.shape

(9383, 7)

In [13]:
dataset.head()

      Suburb Rooms Type Method        SellerG Distance   Price
0  Footscray     1    u     PI        Burnham      6.4   85000
1  Caulfield     4    h     PI         Rodney      8.9  131000
2     Coburg     4    h     PI         Jellis      7.8  145000
3     Albion     1    u     PI         Biggin     13.9  145000
4     Albion     1    u      S  hockingstuart     13.9  185000

In [14]:
dummy_df = pd.get_dummies(dataset[[ 'Suburb','SellerG', 'Type', 'Method']], drop_first=True)

In [15]:
dataset.drop(['Suburb','SellerG', 'Type', 'Method'], axis = 1, inplace = True)

In [16]:
# dataset.apply(pd.to_numeric)
# dataset['Rooms'] = dataset['Rooms'].astype(float)
# dataset.dtypes
# dataset.head()
# dataset=dataset.apply(pd.to_numeric, errors='coerce')
# dataset['Rooms']=pd.to_numeric(dataset['Rooms'], errors='ignore', axis=1)
dataset['Rooms'] = dataset['Rooms'].apply(pd.to_numeric, errors='coerce')

In [17]:
# dataset['Distance']=pd.to_numeric(dataset['Distance'], errors='ignore', axis=1)
dataset['Distance'] = dataset['Distance'].apply(pd.to_numeric, errors='coerce')

In [18]:
# dataset['Price']=pd.to_numeric(dataset['Price'], errors='ignore', axis=1)
dataset['Price'] = dataset['Price'].apply(pd.to_numeric, errors='coerce')

In [19]:
dataset = pd.concat([dataset, dummy_df], axis=1)
dataset.dtypes

Rooms                  float64
Distance               float64
Price                  float64
Suburb_Aberfeldie        uint8
Suburb_Airport West      uint8
                        ...
Method_PI                uint8
Method_S                 uint8
Method_SA                uint8
Method_SP                uint8
Method_VB                uint8
Length: 347, dtype: object

In [20]:
dummy_df.head()

,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albert Park,Suburb_Albion,Suburb_Alphington,Suburb_Altona,Suburb_Altona North,Suburb_Armadale,Suburb_Ascot Vale,Suburb_Ashburton,...,SellerG_iOne,SellerG_iTRAK,Type_h,Type_t,Type_u,Method_PI,Method_S,Method_SA,Method_SP,Method_VB
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [21]:
dataset = pd.concat([dataset, dummy_df], axis=1)

In [22]:
dataset.head()

,Rooms,Distance,Price,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albert Park,Suburb_Albion,Suburb_Alphington,Suburb_Altona,Suburb_Altona North,...,SellerG_iOne,SellerG_iTRAK,Type_h,Type_t,Type_u,Method_PI,Method_S,Method_SA,Method_SP,Method_VB
0,1.0,6.4,85000.0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,4.0,8.9,131000.0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2,4.0,7.8,145000.0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,1.0,13.9,145000.0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,1.0,13.9,185000.0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,0

,Rooms,Distance,Price,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albert Park,Suburb_Albion,Suburb_Alphington,Suburb_Altona,Suburb_Altona North,...,SellerG_iOne,SellerG_iTRAK,Type_h,Type_t,Type_u,Method_PI,Method_S,Method_SA,Method_SP,Method_VB
0,1.0,6.4,85000.0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,4.0,8.9,131000.0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2,4.0,7.8,145000.0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,1.0,13.9,145000.0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,1.0,13.9,185000.0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [24]:
x= dataset.drop('Price', axis = 1)
y = dataset['Price']

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=2)

In [27]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [28]:
X_train.isna().sum()

Rooms                  1
Distance               1
Suburb_Aberfeldie      0
Suburb_Airport West    0
Suburb_Albert Park     0
                      ..
Method_PI              0
Method_S               0
Method_SA              0
Method_SP              0
Method_VB              0
Length: 690, dtype: int64

In [29]:
X_train.dropna(inplace=True)
y_train.dropna(inplace=True)

reg.fit(X_train, y_train)

LinearRegression()

In [30]:
reg.score(X_test, y_test)

0.5857007062784072

In [31]:
reg.score(X_train, y_train)

0.7020179823698518

In [32]:
# L1 : Lasso Regression
from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha=50, max_iter=100, tol=0.1)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [33]:
lasso_reg.score(X_test, y_test)

0.6533876226051125

In [34]:
lasso_reg.score(X_train, y_train)

0.7000247508108225

In [35]:
# L2 : Ridge Regression 
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=50, max_iter=100, tol=0.1)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [36]:
ridge_reg.score(X_test, y_test)

0.6332914848547166

In [37]:
ridge_reg.score(X_train, y_train)

0.6734541636405676