In [1]:
import pandas as pd
df = pd.read_csv('Titanic/train_and_test2.csv')
df.head()

   Passengerid   Age     Fare  Sex  Pclass  Survived
0            1  22.0   7.2500    0       3         0
1            2  38.0  71.2833    1       1         1
2            3  26.0   7.9250    1       3         1
3            4  35.0  53.1000    1       1         1
4            5  35.0   8.0500    0       3         0

In [2]:
df.drop(['Passengerid'], axis = 'columns', inplace = True)
df.head()

    Age     Fare  Sex  Pclass  Survived
0  22.0   7.2500    0       3         0
1  38.0  71.2833    1       1         1
2  26.0   7.9250    1       3         1
3  35.0  53.1000    1       1         1
4  35.0   8.0500    0       3         0

In [3]:
target = df.Survived
inputs = df.drop('Survived', axis = 1)

In [4]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [5]:
inputs.head()

    Age     Fare  Sex  Pclass
0  22.0   7.2500    0       3
1  38.0  71.2833    1       1
2  26.0   7.9250    1       3
3  35.0  53.1000    1       1
4  35.0   8.0500    0       3

In [6]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
 X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [9]:
len(X_train)

1047

In [10]:
len(X_test)

262

In [11]:
len(inputs)

1309

In [12]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [13]:
model.fit(X_train, y_train)

GaussianNB()

In [14]:
model.score(X_test, y_test)

0.8091603053435115

In [15]:
X_test[:10]

       Age     Fare  Sex  Pclass
102   21.0  77.2875    0       1
1050  26.0  13.7750    1       3
829   62.0  80.0000    1       1
1157  28.0   0.0000    0       1
769   32.0   8.3625    0       3
976   28.0  14.4542    0       3
235   28.0   7.5500    1       3
878   28.0   7.8958    0       3
801   31.0  26.2500    1       2
1051  28.0   7.7333    1       3

In [16]:
y_test[:10]

102     0
1050    0
829     1
1157    0
769     0
976     0
235     0
878     0
801     1
1051    0
Name: Survived, dtype: int64

In [17]:
model.predict(X_test[:10])

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [18]:
model.predict_proba(X_test[:10])

array([[0.73635098, 0.26364902],
       [0.70406991, 0.29593009],
       [0.25575071, 0.74424929],
       [0.82955144, 0.17044856],
       [0.95154104, 0.04845896],
       [0.94992874, 0.05007126],
       [0.70803868, 0.29196132],
       [0.94971699, 0.05028301],
       [0.58863449, 0.41136551],
       [0.70809643, 0.29190357]])